body {
  margin: 0;
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(-225deg, #A1FFE2 0%, #FFABEE 100%);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: max-content;
  margin: auto;
}

form input {
  height: 20px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

h1 {
  text-align: center;
}

.input-field {
  display: inline-block;
}

.list-wrapper {
  width: max-content;
  margin: auto;
}

ul {
  padding: 0px;
}

li {
  margin: 2px;
  font-size: 25px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  transition: .1s ease-in;
  align-items: center;
}

li:hover {
  background-color: #8EFFEF57;
}

input[type=checkbox]:checked + span {
  text-decoration: line-through;
}

input[type=checkbox] {
  outline: none;
}

.list {
  list-style: none;
}

button {
  margin-left: 5px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

button:hover {
  cursor: pointer;
}