body {
  margin: 0;
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(-225deg, #A1FFE2 0%, #FFABEE 100%);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: max-content;
  margin: auto;
}

form input {
  height: 20px;
  border: none;
  padding: 5px;
  outline: none;
}

h1 {
  text-align: center;
}

.submitBtn {
  margin-left: 5px;
}

.filterBtns-wrapper {
  width: max-content;
  margin: auto;
  margin-top: 5px;
}

.filterBtns-wrapper button {
  background-color: transparent;
}

.list-wrapper {
  width: max-content;
  margin: auto;
}

ul {
  padding: 0px;
}

li {
  margin: 2px;
  padding: 5px;
  font-size: 25px;
  border: dotted 1px #000000a3;
  display: flex;
  animation: fadeIn .4s linear;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.task-text {
  max-width: 400px;
  word-wrap: break-word;
}

.timestamp {
  font-size: 15px;
}

.task-text,.timestamp {
  margin: 0px;
  margin-right: 5px;
}

.deleteBtn {
  margin-left: auto;
  align-self: center;
}

li:hover {
  background-color: #8EFFEF57;
  transition: all 0.2s ease-in;
}

input[type=checkbox]:checked + .card-content .task-text{
  text-decoration: line-through;
}

input[type=checkbox] {
  outline: none;
  margin-left: 0px;
}

button {
  height: 30px;
  border: none;
  cursor: pointer;
}

li,button,form input,.card-content {
  border-radius: 3px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: max-content;
  margin: auto;
}
#heart {
  color: red;
}
#Max1mmus {
  color: black;
}